# Telegram Bot Token
bot_token = ''
# Hook Infomation
tg_admin = 0
tg_group = 0
# V2Board Infomation
v2_website = 'https://awesomeV2Board.com'  # without '/' symbol
# V2Board MySQL Database
db_ip = '127.0.0.1'
db_port = 3306
db_user = 'root'
db_pass = 'password'
db_name = 'database'
# Connect MySQL via SSH
ssh_enable = False
ssh_ip = '127.0.0.1'
ssh_port = 22
ssh_user = 'root'
ssh_pass = 'password'