version: "3"

networks:
  V2Board_Python_Bot:

services:
  bot:
    image: moefaq/v2board_python_bot-docker
    volumes:
      - "<V2Board_Python_Bot-docker_data>/config.yaml:/V2Board_Python_Bot/config.yaml"
      - "<V2Board_Python_Bot-docker_data>/sshkey.pem:/V2Board_Python_Bot/sshkey.pem"
    restart: always
    environment:
      TZ: Asia/Shanghai
    networks:
      - V2Board_Python_Bot